<h1>Posts do Blog</h1>

<% @posts.each do |post| %>
  <div>
    <h2 style="margin-block-end: 0.2em;"><%= post.title %></h2>
    <p style="text-align: justify; margin-block-start: 0.2em; margin-block-end: 0.5em; max-width: 50vw;">
    <%= post.body %>
  </p>
    <span style="color: #454647">Author: <%= post.author %></span>
  </div>
<% end %>
